---
http_interactions:
- request:
    method: post
    uri: https://api-ssl.bitly.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&code=blah&redirect_uri=http%3A%2F%2Fexample.com%2Foauth%2Fredirect
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code": 401, "data": null, "status_txt": "INVALID_CODE"}'
  recorded_at: Mon, 28 Oct 2019 12:33:41 GMT
recorded_with: VCR 4.0.0
