---
http_interactions:
- request:
    method: post
    uri: https://api-ssl.bitly.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&code=<OAUTH_CODE>&redirect_uri=http%3A%2F%2Fexample.com%2Foauth%2Fredirect
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    body:
      encoding: UTF-8
      string: access_token=<ACCESS_TOKEN>&login=<USERNAME>&apiKey=<API_KEY>
  recorded_at: Mon, 28 Oct 2019 12:33:41 GMT
recorded_with: VCR 4.0.0
