---
http_interactions:
- request:
    method: post
    uri: https://api-ssl.bitly.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=password&password=<PASSWORD>&username=<USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token": "<ACCESS_TOKEN>"}'
  recorded_at: Sat, 19 May 2018 08:09:54 GMT
recorded_with: VCR 4.0.0
